html {
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding:0;
  min-width: 1000px;
}
header{
  width: 650px;
  height: 80px;
  border-style: solid;
  margin: 30px 200px 30px 30px;
}
#divA, #divB{
  height: 600px;
  border-style: solid;
  float: left;
  margin: 30px;
}

#divA{
  width: 650px;
}
#divB{
  width: 200px;
}