html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	position: relative;
	min-height: 100%;
}
body,p {
	margin: 0;
}

header{
	height: 150px;
	width: 100%;
	background-image: url('../images/ocean.jpg');
	overflow: hidden;
}

header, h1{
	text-align: center;
}

footer {
	background-color: orange;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	overflow:hidden;
}

#divA_home, #divB_home, #divC_home{
	height: 250px;
	text-align: center;
	padding: 0;
}
#divA_home{
	background-color:#80d5ff;
}
#divB_home{
	background-color: #ccffcc;
}
#divC_home{
	background-color: #ffccff;
}

#divA_sub, #divB_sub{
	height: 700px;
	float: left;
}

#divA_sub{
	width: 75%;
	background-color:#e5ffe5; 
}
#divB_sub{
	width: 25%;
	background-color:#ffcccc;
}